.cont_filter{
    display: block;
    max-width: 1440px;
    margin: -114px auto 46px auto;
}
.cont_filter ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 77%;
    border-radius: 4px;
    box-shadow: 0px 5px 10px hsla(180, 28.6%, 50%, 0.37);
    background-color: #FFF;
    padding: 15px 40px;
    min-height: 52px;
    cursor: default;
    justify-content: space-between;
}
.cont_filter ul li:first-child{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    flex-shrink: 1;
}
.cont_filter ul li div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 24px;
    background-color: var(--Cyan_Filter_Tablets);
    border-radius: 2px;
    font-size: 12px;
    margin: 7px;
}
.cont_filter ul li p{
    color: var(--Dark_Cyan);
    padding: 0 7px;
    line-height: 24px;
    cursor: default;
    user-select: none;
}
.cont_filter ul li > p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.cont_filter ul li span{
    width: 24px;
    height: 100%;
    background-image: url("../img/icon-remove.svg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: var(--Dark_Cyan);
    cursor: pointer;
}
.cont_filter ul li span:hover{
    background-color: var(--Very_Dark_Grayish_Cyan);
}

@media (max-width:850px){
    .cont_filter ul{
        width: 90%;
        padding: 20px;
    }
}